{
  "plugins": [
    ["transform-object-rest-spread"],
    ["transform-class-properties"],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true,
    }],
  ],
  "presets": [
    "react",
  ],
  "env": {
    "production": {
      "plugins": [
        ["jsx-pragmatic", {
          module: "react",
          import: "React",
        }],
      ],
      "presets": [
        ["es2015", {"modules": false}],
      ],
    },
    "development": {
      "plugins": [
        ["jsx-pragmatic", {
          module: "react",
          import: "React",
        }],
      ],
      "presets": [
        ["es2015", {"modules": false}],
      ],
    },
    "test": {
      "plugins": [
        ["jsx-pragmatic", {
          module: "react",
          import: "React",
        }],
      ],
      "presets": [
        ["es2015"],
      ],
    },
  },
}