**/.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*
*.sw[a-z]

# js
*.log
node_modules/*

# clj
.shadow-cljs
.cpcache
.nrepl-*

.start-out

# others
.wrangler
.claude/ralph-loop.local.md
.claude/settings.local.json
public
dist
publish_repo
