**/.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.idea/*
*.sw[a-z]

# js
*.log
node_modules/*

# clj
.nrepl-*
.shadow-cljs
.cpcache
.start-out
.calva
.lsp
.clj-kondo/*
!.clj-kondo/config.edn

# others
.wrangler
.claude/ralph-loop.local.md
.claude/settings.local.json
public
dist
publish_repo
