{:deps true
 :cache-root ".shadow-cljs"
 :builds {:browser {:target :browser
                    :output-dir ".shadow-cljs/browser-out"
                    :asset-path "."
                    :modules {:main {:entries [browser.core]}}
                    :compiler-options {:source-map true}}}}
