@import "../node_modules/normalize.css/normalize";
@import "../node_modules/highlight.js/styles/solarized-light";
@import "./breakpoints";

$line-height: 1.8;
$container-vertical-margin: 80px;
$container-width: 600px;

* {
  box-sizing: border-box;
}

i {
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: $line-height;
}

%container {
  display: block;
  margin: $container-vertical-margin auto;
  max-width: $container-width;

  @include breakpoint-down($breakpoint-sm) {
    margin: 0 auto;
    padding: 10px 20px;
  }
}

.BlogPosts {
  @extend %container;

  > ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
    list-style: none;
  }
}

.BlogPostsTitleItem {
  margin: 6px 0;
  cursor: pointer;

  $link-color: #333;
  $link-color-active: lighten($link-color, 30%);
  $link-color-visited: lighten($link-color, 50%);

  &:hover > a {
    border-bottom: 1px solid $link-color;
  }
  > a {
    color: $link-color;
    text-decoration: none;

    &:active, &.active {
      color: $link-color-active;
      border-bottom-color: $link-color-active;
    }

    &:visited, &.visited {
      color: $link-color-visited;
      border-bottom-color: $link-color-visited;
    }
  }

  &__date {
    font-family: monospace;
  }

  &__title {
    display: inline;
    margin: 0 0 0 10px;
    font-weight: normal;
    font-size: 1rem;
  }
}

.BlogPost {
  @extend %container;
  overflow-wrap: break-word;

  %header-title-prefix {
    position: absolute;
    margin-left: -10px;
    transform: scale(0.8, 0.8) translate(-100%, 0);
    color: #aaa;
  }

  @for $h from 1 through 6 {
    h#{$h} {
      position: relative;

      .heading-anchor {
        @extend %header-title-prefix;
        text-transform: uppercase;
        text-decoration: none;

        @include breakpoint-down($breakpoint-sm) {
          position: static;
          margin-left: 0;
          margin-right: 6px;
          font-size: 0.8em;
          transform: none;
        }

        &::before {
          content: "h#{$h}";
        }
      }
    }
  }
  h2, h3, h4, h5, h6 {
    margin: 20px 0 0 0;
  }

  // from https://assets-cdn.github.com/assets/github-5043b3d96d50b119b971c2cdde4e0a62.css
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.25rem; }
  h4 { font-size: 1rem; }
  h5 { font-size: 0.875rem; }
  h6 { font-size: 0.85rem; }

  &__header h1::before {
    content: '';
  }
  &__header {
    position: relative;
    line-height: 1.4;
  }
  &__back-list {
    @extend %header-title-prefix;
    margin-left: -10px;
    padding: 14px 15px 14px 13px;
    font-size: 2rem;
    border-radius: 50px;
    cursor: pointer;

    @include breakpoint-down($breakpoint-sm) {
      .BlogPost & {
        position: fixed;
        top: auto;
        bottom: 20px;
        right: 20px;
        z-index: 2;
        margin-left: 0;
        transform: none;
        background: #00000090;
      }
    }

    &:hover {
      background: #eee;
    }

    .icon-back {
      position: relative;
      display: block;
      font-size: 0;
    }
    .icon-back::before {
      content: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 89 96" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M86.612 2.39771C83.8783 -0.33596 79.4461 -0.33596 76.7125 2.39771L36.4089 42.7012L36.4074 42.7028C36.0657 43.0445 35.7667 43.4127 35.5104 43.8009C33.7164 46.518 34.0154 50.2103 36.4074 52.6023L36.4085 52.6034L76.7125 92.9074C79.4461 95.641 83.8783 95.641 86.612 92.9074C89.3456 90.1737 89.3456 85.7415 86.612 83.0079L51.2566 47.6525L86.612 12.2972C89.3456 9.56353 89.3456 5.13138 86.612 2.39771ZM43.0079 3.1023C45.7416 0.36863 50.1737 0.36863 52.9074 3.1023C55.641 5.83597 55.641 10.2681 52.9074 13.0018L17.552 48.3571L52.9074 83.7125C55.641 86.4461 55.641 90.8783 52.9074 93.612C50.1737 96.3456 45.7416 96.3456 43.0079 93.612L2.7028 53.3069C-0.0308714 50.5732 -0.0308714 46.1411 2.7028 43.4074L43.0079 3.1023Z" fill="%23C4C4C4"/></svg>');
    }
  }

  &__md pre,
  code {
    font-size: 0.8rem;
    background: #f3f5f6;
  }
  code {
    padding: 2px 4px;
  }
  &__md pre {
    padding: 10px;
    overflow: auto;

    code {
      padding: 0;
    }
  }
}
